<h1 class="text-center">About</h1>
<br>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam natus consequatur a cum quos pariatur quae cumque culpa corporis accusantium quo rerum laboriosam quisquam maiores hic officiis enim modi earum, amet adipisci laudantium eius, deserunt perferendis ipsa? Quod impedit cumque provident assumenda, placeat hic commodi vel necessitatibus facilis a, at modi aut? Maiores illo voluptates asperiores alias explicabo esse quaerat modi earum molestias facere omnis a reprehenderit odit odio quasi culpa iusto, vel ipsum quisquam illum fuga numquam qui? Blanditiis, et consectetur pariatur minus aperiam voluptates obcaecati quaerat ex officia magni amet officiis quo eum magnam laudantium illum non sit.</p>
<br>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
 <br> 
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam natus consequatur a cum quos pariatur quae cumque culpa corporis accusantium quo rerum laboriosam quisquam maiores hic officiis enim modi earum, amet adipisci laudantium eius, deserunt perferendis ipsa? Quod impedit cumque provident assumenda, placeat hic commodi vel necessitatibus facilis a, at modi aut? Maiores illo voluptates asperiores alias explicabo esse quaerat modi earum molestias facere omnis a reprehenderit odit odio quasi culpa iusto, vel ipsum quisquam illum fuga numquam qui? Blanditiis, et consectetur pariatur minus aperiam voluptates obcaecati quaerat ex officia magni amet officiis quo eum magnam laudantium illum non sit.</p>
 <br>
  <app-footer></app-footer>