body {
    position: relative;
    min-height: 100vh; /* Imposta l'altezza minima al 100% della viewport height */
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 20%;
    right: 0;
    transform: translateY(-50%);
    transform: translateX(34%);
}

.product-details {
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Imposta la larghezza massima del container */
    width: 90%; /* Imposta la larghezza del container al 90% del viewport width */
    margin-left: auto; /* Allinea il container alla destra */
    margin-right: auto;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
