<form
  class="form-inline my-2 my-lg-0 offset-lg-4"
  style="display: flex; width: 40%"
>
  <input
    class="form-control mr-sm-1"
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="searchText"
    #searchInput
  />
  <button
    class="my-2 my-sm-0"
    type="submit"
    (click)="updateSearchText(searchInput)"
  >
    Search
  </button>
</form>
<br />
<div class="text-center">
  <span class="text-span" *ngIf="searchText != ''"
    >Result Search:
    <p>{{ searchText }}</p>
  </span>
</div>
